/* citySelector */
.citySelector{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	background:#fff;
	text-align:left;
	}
.cityslide{
	width:250px;
	list-style:none;
	margin:0;
	padding:0;
	border:1px solid #B3CDC0;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
	overflow:auto;
	max-height:300px;
}
.cityslide li{
	list-style:none;
	overflow:hidden;
	height:30px;
	padding:0px 10px;
	line-height:30px;
}
.cityslide li.on{
	background:#44a2ff;
	color:#fff;
	cursor:pointer;
}
.cityslide li:hover{
	background:#44a2ff;
	color:#fff;
	cursor:pointer;
}
.cityslide li b{
	font-weight:normal;
}
.cityslide li.empty{
	background:#fff2e8;
	color:#666;
}
.cityslide li.empty em{
	color:red;
	font-style:normal;
}
.cityname{
	float:left;
}
.cityspell{
	float:right;
}
.cityBox{
	width: 450px;
	border:1px solid #B3CDC0;
	overflow:hidden;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
}
.cityBox ul{
	margin:0;
	padding:0;
	overflow:hidden;
}
.cityBox ul li:first-child{
	margin-left:15px;
	font-size: 15px;
}
.cityBox ul li{
	float:left;
	font-size: 15px;
	list-style:none;
	padding:10px;
	border-bottom:1px solid #DDD;
	cursor:pointer;
	display:inline;
	color:#44a2ff;
}
.cityBox ul li.on{
	border-bottom-color:#44a2ff;
	position:relative;
}
.hide{
	display:none;
}
p.tip{
	color:#999;
	line-height:20px;
	padding:5px;
	margin:0;
	text-indent:3px;
}
.hotCity{
	border-top:1px solid #DDD;
	margin-top:-1px;
	clear:left;
	overflow:hidden;
	padding-bottom:10px;
	padding-top:10px;
	_margin-bottom:8px;
}
.cityTab{
	overflow:hidden;
}
.cityTab dl{
	margin:0;
	padding:0 0 0 10px;
	overflow:hidden;
}
.cityTab dl dt{
	float:left;
	padding-left:3px;
	color:#00a346;
	margin-top:1px;
	text-indent:5px;
	font-family:"Lucida console","consolas","courier new";
	line-height:25px;font-size:20px;
	width:20px;
}
.cityTab dl dd{
	margin-left:2px;
	float:left;
	width:400px;
}
.cityTab dl dd a{
	padding-left:5px;
	min-width:70px;
	line-height:25px;
	display:inline-block;
	color:#333;
	text-decoration:none;
	font-size: 16px;
}
.cityTab dl dd a:hover{
	color:#0000ff;
}
.cityinput{
	font-size: 30px; 
	padding-left: 2px;
	background: url(T1EPyLXm0hXXXXXXXX-200-100.png) no-repeat 150px 5px;
	border: 1px solid #D8D8D8;
}